{{{assetsHeader}}}

<p>{{fullName}}</p>

{{#hasNames}}
    All names:
    <ul>
        {{#names}}
            <li>{{_}}</li>
        {{/names}}
    </ul>
{{/hasNames}}

<h3>Custom</h3>
{{lang:group:key}}

{{{assetsBody}}}